[Unit]
Description=Poultry Monitoring Streamlit App
After=network.target

[Service]
User=sontiganesh
WorkingDirectory=/home/sontiganesh/poultry-monitoring-dashboard
ExecStart=/home/sontiganesh/poultry-monitoring-dashboard/venv/bin/streamlit run app.py --server.address 0.0.0.0 --server.port 8501
Restart=always
# Restart automatically if the app crashes
RestartSec=3

[Install]
WantedBy=multi-user.target
